/* CALENDER STUFF */
.upcoming-events
{
    max-width: fit-content; /*centering a div*/
    margin-inline: auto;
    padding-top: 12vh;
    padding-bottom: 5vh;
}

.upcoming-events h1
{
    font-family: 'Raleway', sans-serif;
    text-decoration: underline;
}

@media (width<= 475px)
{
    .upcoming-events h1
    {
        font-size: 2rem;
    }
}

@media (min-width: 1536px)
{
    .upcoming-events h1
    {
        font-size: 3rem;
    }
}

@media (min-width: 1920px)
{
    .upcoming-events h1
    {
        font-size: 4rem;
    }
}